/* Colours */
:root {
  --clrBackground: #181A59;
  --clrPrimary: #72ba5f;
  --clrDarkPrimary: #005600;
  --clrText: #ffff;
  --clrAccent: #9999cc;
}

*:not(dialog) {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
  scroll-padding-top: 8.5em;
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 0.25em;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 8, 3);
  background-color: var(--clrBackground);
}

hr {
  background-color: var(--clrDarkPrimary);
  height: 3px;
  border-width: 0;
  margin-left: 40%;
  margin-right: 40%;
}

/* Landing screen elements */
#landing {
  background-color: var(--clrPrimary);
  width: 100%;
  height: 30vh;
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  align-items: center;
}

#profilePic {
  width: 100%;
  height: 125px;
  margin-right: 3%;
  border-style: solid;
  border-radius: 50px;
  border-color: white;
  border-width: 5px;
  object-fit: cover;
}

/* Navigation bar elements */
#nav {
  background-color: var(--clrDarkPrimary);
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  z-index: 100;
  padding-left: 15%;
  padding-right: 15%;
}

.navbutton {
  cursor: pointer;
  text-decoration: none;
  color: var(--clrText);
  padding: 1em;
  transition: background-color 0.5s, color 0.5s;
  color: var(--clrBackground);
}

.navbutton:hover,
.navbutton:focus {
  background-color: var(--clrPrimary);
  color: var(--clrText);
}

/* The main body of the website */
#main {
  margin-top: 2em;
  max-width: 60%;
  margin: auto;
}

/* About section */
#about {
  padding-top: 1em
  padding-bottom: 4em;
}

#about ~ section {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* skills */
#skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.skillLink {
  width: 20em;
  height: 20em;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.skillImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.829);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  height: 50%;
}

.projectDescription {
  color: white;
  margin: 1vw;
}

/* Contact info and footer */
#contact {
  background-color: var(--clrDarkPrimary);
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#contactMeContainer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.contact_icon {
  width: 25px;
  height: 25px;
}

.email:hover {
  cursor: pointer;
}
