/* Colours */
:root {
  --clrBackground: #f6edd9;
  --clrPrimary: #72ba5f;
  --clrDarkPrimary: #005600;
  --clrText: #000000;
  --clrAccent: #9999cc;
}

*:not(dialog) {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
  scroll-padding-top: 8.5em;
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 0.25em;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 8, 3);
  background-color: var(--clrBackground);
}

hr {
  background-color: var(--clrDarkPrimary);
  height: 3px;
  border-width: 0;
  margin-left: 40%;
  margin-right: 40%;
}

/* Landing screen elements */
#landing {
  background-color: var(--clrPrimary);
  width: 100%;
  height: 30vh;
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  align-items: center;
}

#profilePic {
  padding-top: 50px;
  width: 100%;
  height: 75px;
  margin-right: 3%;
  border-style: solid;
  border-radius: 50px;
  border-color: white;
  border-width: 5px;
  object-fit: cover;
}

/* Navigation bar elements */
#nav {
  background-color: var(--clrDarkPrimary);
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  z-index: 100;
  padding-left: 15%;
  padding-right: 15%;
}

.navbutton {
  cursor: pointer;
  text-decoration: none;
  color: var(--clrText);
  padding: 1em;
  transition: background-color 0.5s, color 0.5s;
  color: var(--clrBackground);
}

.navbutton:hover,
.navbutton:focus {
  background-color: var(--clrPrimary);
  color: var(--clrText);
}

/* The main body of the website */
#main {
  margin-top: 2em;
  max-width: 60%;
  margin: auto;
}

/* About section */
#about {
  padding-top: 1em
  padding-bottom: 4em;
}

#about ~ section {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* Skills section */
#skills {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.arrow {
  transition: transform 0.75s;
}

.arrow:hover,
.arrow:focus {
  cursor: pointer;
  transform: scale(1.25, 1.25);
}

#carousel {
  height: 150px;
  position: relative;
}

.skill {
  position: absolute;
  transition: width 1s, height 1s, left 1s, filter 1s, top 1s, opacity 1s;
}

.enterLeft {
  opacity: 0;
  left: -425px;
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  top: 25px;
  z-index: -1;
}

.leftSkill {
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  left: -250px;
  z-index: -1;
  top: 25px;
}

.middleSkill {
  width: 150px;
  height: 150px;
  left: -75px;
  top: 0;
}

.rightSkill {
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  left: 150px;
  z-index: -1;
  top: 25px;
}

.enterRight {
  opacity: 0;
  left: 325px;
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  top: 25px;
  z-index: -1;
}

.hiddenSkill {
  display: none;
  z-index: -1;
  left: 0;
}

/* Projects section */
.bigProject {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em;
  transition: transform 0.75s, box-shadow 0.75s, filter 0.75s;
  margin: 1em 0;
  height: 20em;
  filter: grayscale(0.5);
  gap: 1em;
  background-color: var(--clrPrimary);
  border-radius: 0.25em;
}

.bigProject:hover,
.bigProject:focus {
  filter: grayscale(0);
}

.reverse {
  flex-direction: row-reverse;
}

.bigProjectLink {
  width: 100%;
  max-width: 40%;
}

.bigProjectImage {
  width: 100%;
  border-radius: 0.25em;
}

.bigProjectDescription {
  color: var(--clrText);
  padding: 1em;
  border-radius: 0.25em;
  max-width: 60%;
}

.bigProjectDescription > a {
  text-decoration: none;
  color: var(--clrText);
  transition: color 0.5s;
}

.linksRight {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em;
  gap: 0.25em;
}

.linksLeft {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.5em;
  gap: 0.25em;
}

.externalLink,
.logo {
  width: 25px;
  height: 25px;
}

/* Small projects */
#smallProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.projectLink {
  width: 20em;
  height: 20em;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.829);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  height: 50%;
}

.projectDescription {
  color: white;
  margin: 1vw;
}

/* Contact info and footer */
#contact {
  background-color: var(--clrDarkPrimary);
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#contactIconsContainer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.contact_icon {
  width: 25px;
  height: 25px;
}

.email:hover {
  cursor: pointer;
}

/* Contact form */
#contactForm {
  border-radius: 0.25em;
  border: 0;
}

#contactForm::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

#messageField {
  display: block;
  width: 100%;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 15em;
}

#closeContact {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  z-index: 300;
}

#closeContact:hover {
  cursor: pointer;
}
